<div id="box-search-job">
  <div class="container">
    <div class="hero" id="search-job-hero">
      <div class="box-search-job box">
        <form method="get" id="frm-search-job" onsubmit="return false;">
          <div class="row-search">
            <div class="input-data search-input">
              <input class="form-control border-hover ui-autocomplete-input" value="" placeholder="Tên công việc bạn muốn ứng tuyển ..." id="keyword" autocomplete="off">
            </div>
            <div class="input-data search-select">
              <span class="ctn-icon"><i class="fa-solid fa-building"></i></span>
              <select id="category" class="form-control select2-hidden-accessible" style="width:100%" tabindex="-1" aria-hidden="true">
                <option value="">Tất cả ngành nghề</option>
                <option value="10101">An toàn lao động</option>
                <option value="10102">Bán hàng kỹ thuật</option>
                <option value="10103">Bán lẻ / bán sỉ</option>
                <option value="10004">Báo chí / Truyền hình</option>
                <option value="10006">Bảo hiểm</option>
                <option value="10104">Bảo trì / Sữa chữa</option>
                <option value="10007">Bất động sản</option>
                <option value="10003">Biên / Phiên dịch</option>
                <option value="10005">Bưu chính - Viễn thông</option>
                <option value="10008">Chứng khoán / Vàng / Ngoại tệ</option>
                <option value="10010">Cơ khí / Chế tạo / Tự động hóa</option>
                <option value="10009">Công nghệ cao</option>
                <option value="10052">Công nghệ Ô tô</option>
                <option value="10131">Công nghệ thông tin</option>
                <option value="10012">Dầu khí/Hóa chất</option>
                <option value="10013">Dệt may / Da giày</option>
                <option value="10111">Địa chất / Khoáng sản</option>
                <option value="10014">Dịch vụ khách hàng</option>
                <option value="10016">Điện / Điện tử / Điện lạnh</option>
                <option value="10015">Điện tử viễn thông</option>
                <option value="10011">Du lịch</option>
                <option value="10110">Dược phẩm / Công nghệ sinh học</option>
                <option value="10017">Giáo dục / Đào tạo</option>
                <option value="10113">Hàng cao cấp</option>
                <option value="10020">Hàng gia dụng</option>
                <option value="10021">Hàng hải</option>
                <option value="10022">Hàng không</option>
                <option value="10117">Hàng tiêu dùng</option>
                <option value="10023">Hành chính / Văn phòng</option>
                <option value="10018">Hoá học / Sinh học</option>
                <option value="10019">Hoạch định/Dự án</option>
                <option value="10024">In ấn / Xuất bản</option>
                <option value="10025">IT Phần cứng / Mạng</option>
                <option value="10026">IT phần mềm</option>
                <option value="10028">Kế toán / Kiểm toán</option>
                <option value="10027">Khách sạn / Nhà hàng</option>
                <option value="10120">Kiến trúc</option>
                <option value="10001">Kinh doanh / Bán hàng</option>
                <option value="10048">Logistics</option>
                <option value="10036">Luật/Pháp lý</option>
                <option value="10029">Marketing / Truyền thông / Quảng cáo</option>
                <option value="10030">Môi trường / Xử lý chất thải</option>
                <option value="10031">Mỹ phẩm / Trang sức</option>
                <option value="10032">Mỹ thuật / Nghệ thuật / Điện ảnh</option>
                <option value="10033">Ngân hàng / Tài chính</option>
                <option value="11000">Ngành nghề khác</option>
                <option value="10132">NGO / Phi chính phủ / Phi lợi nhuận</option>
                <option value="10034">Nhân sự</option>
                <option value="10035">Nông / Lâm / Ngư nghiệp</option>
                <option value="10124">Phi chính phủ / Phi lợi nhuận</option>
                <option value="10037">Quản lý chất lượng (QA/QC)</option>
                <option value="10038">Quản lý điều hành</option>
                <option value="10125">Sản phẩm công nghiệp</option>
                <option value="10126">Sản xuất</option>
                <option value="10130">Spa / Làm đẹp</option>
                <option value="10127">Tài chính / Đầu tư</option>
                <option value="10039">Thiết kế đồ họa</option>
                <option value="10128">Thiết kế nội thất</option>
                <option value="10042">Thời trang</option>
                <option value="10129">Thư ký / Trợ lý</option>
                <option value="10043">Thực phẩm / Đồ uống</option>
                <option value="10046">Tổ chức sự kiện / Quà tặng</option>
                <option value="10045">Tư vấn</option>
                <option value="10047">Vận tải / Kho vận</option>
                <option value="10050">Xây dựng</option>
                <option value="10049">Xuất nhập khẩu</option>
                <option value="10051">Y tế / Dược</option>
              </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-category-container"><span class="select2-selection__rendered" id="select2-category-container" title="Tất cả ngành nghề">Tất cả ngành nghề</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
            <div class="input-data search-select-company">
              <span class="ctn-icon"><i class="fa-solid fa-building"></i></span>
              <select id="company-field-advanced" class="form-control select2-hidden-accessible" style="width:100%" tabindex="-1" aria-hidden="true">
                <option value="">&nbsp;Tất cả lĩnh vực công ty</option>
                <option value="33">&nbsp;Agency (Design/Development)</option>
                <option value="34">&nbsp;Agency (Marketing/Advertising)</option>
                <option value="11">&nbsp;Bán lẻ - Hàng tiêu dùng - FMCG</option>
                <option value="4">&nbsp;Bảo hiểm</option>
                <option value="20">&nbsp;Bảo trì / Sửa chữa</option>
                <option value="5">&nbsp;Bất động sản</option>
                <option value="13">&nbsp;Chứng khoán</option>
                <option value="23">&nbsp;Cơ khí</option>
                <option value="30">&nbsp;Cơ quan nhà nước</option>
                <option value="31">&nbsp;Du lịch</option>
                <option value="6">&nbsp;Dược phẩm / Y tế / Công nghệ sinh học</option>
                <option value="21">&nbsp;Điện tử / Điện lạnh</option>
                <option value="36">&nbsp;Giải trí</option>
                <option value="26">&nbsp;Giáo dục / Đào tạo</option>
                <option value="10">&nbsp;In ấn / Xuất bản</option>
                <option value="7">&nbsp;Internet / Online</option>
                <option value="37">&nbsp;IT - Phần cứng</option>
                <option value="1">&nbsp;IT - Phần mềm</option>
                <option value="2">&nbsp;Kế toán / Kiểm toán</option>
                <option value="10000">&nbsp;Khác</option>
                <option value="28">&nbsp;Logistics - Vận tải</option>
                <option value="3">&nbsp;Luật</option>
                <option value="8">&nbsp;Marketing / Truyền thông / Quảng cáo</option>
                <option value="18">&nbsp;Môi trường</option>
                <option value="35">&nbsp;Năng lượng</option>
                <option value="15">&nbsp;Ngân hàng</option>
                <option value="9">&nbsp;Nhà hàng / Khách sạn</option>
                <option value="16">&nbsp;Nhân sự</option>
                <option value="38">&nbsp;Nông Lâm Ngư nghiệp</option>
                <option value="12">&nbsp;Sản xuất</option>
                <option value="39">&nbsp;Tài chính</option>
                <option value="17">&nbsp;Thiết kế / kiến trúc</option>
                <option value="22">&nbsp;Thời trang</option>
                <option value="27">&nbsp;Thương mại điện tử</option>
                <option value="29">&nbsp;Tổ chức phi lợi nhuận</option>
                <option value="32">&nbsp;Tự động hóa</option>
                <option value="24">&nbsp;Tư vấn</option>
                <option value="25">&nbsp;Viễn thông</option>
                <option value="14">&nbsp;Xây dựng</option>
                <option value="19">&nbsp;Xuất nhập khẩu</option>
              </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-company-field-advanced-container"><span class="select2-selection__rendered" id="select2-company-field-advanced-container" title="&nbsp;Tất cả lĩnh vực công ty">&nbsp;Tất cả lĩnh vực công ty</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
            <div class="input-data search-select">
              <span class="ctn-icon"><i class="fa-solid fa-location-check"></i></span>
              <select class="form-control select2-hidden-accessible" id="city" style="width: 100%" tabindex="-1" aria-hidden="true">
                <option value="">Tất cả địa điểm</option>
                <option value="1">Hà Nội</option>
                <option value="2">Hồ Chí Minh</option>
                <option value="3">Bình Dương</option>
                <option value="4">Bắc Ninh</option>
                <option value="5">Đồng Nai</option>
                <option value="6">Hưng Yên</option>
                <option value="7">Hải Dương</option>
                <option value="8">Đà Nẵng</option>
                <option value="9">Hải Phòng</option>
                <option value="10">An Giang</option>
                <option value="11">Bà Rịa-Vũng Tàu</option>
                <option value="12">Bắc Giang</option>
                <option value="13">Bắc Kạn</option>
                <option value="14">Bạc Liêu</option>
                <option value="15">Bến Tre</option>
                <option value="16">Bình Định</option>
                <option value="17">Bình Phước</option>
                <option value="18">Bình Thuận</option>
                <option value="19">Cà Mau</option>
                <option value="20">Cần Thơ</option>
                <option value="21">Cao Bằng</option>
                <option value="22">Cửu Long</option>
                <option value="23">Đắk Lắk</option>
                <option value="24">Đắc Nông</option>
                <option value="25">Điện Biên</option>
                <option value="26">Đồng Tháp</option>
                <option value="27">Gia Lai</option>
                <option value="28">Hà Giang</option>
                <option value="29">Hà Nam</option>
                <option value="30">Hà Tĩnh</option>
                <option value="31">Hậu Giang</option>
                <option value="32">Hoà Bình</option>
                <option value="33">Khánh Hoà</option>
                <option value="34">Kiên Giang</option>
                <option value="35">Kon Tum</option>
                <option value="36">Lai Châu</option>
                <option value="37">Lâm Đồng</option>
                <option value="38">Lạng Sơn</option>
                <option value="39">Lào Cai</option>
                <option value="40">Long An</option>
                <option value="41">Miền Bắc</option>
                <option value="42">Miền Nam</option>
                <option value="43">Miền Trung</option>
                <option value="44">Nam Định</option>
                <option value="45">Nghệ An</option>
                <option value="46">Ninh Bình</option>
                <option value="47">Ninh Thuận</option>
                <option value="48">Phú Thọ</option>
                <option value="49">Phú Yên</option>
                <option value="50">Quảng Bình</option>
                <option value="51">Quảng Nam</option>
                <option value="52">Quảng Ngãi</option>
                <option value="53">Quảng Ninh</option>
                <option value="54">Quảng Trị</option>
                <option value="55">Sóc Trăng</option>
                <option value="56">Sơn La</option>
                <option value="57">Tây Ninh</option>
                <option value="58">Thái Bình</option>
                <option value="59">Thái Nguyên</option>
                <option value="60">Thanh Hoá</option>
                <option value="61">Thừa Thiên Huế</option>
                <option value="62">Tiền Giang</option>
                <option value="63">Toàn Quốc</option>
                <option value="64">Trà Vinh</option>
                <option value="65">Tuyên Quang</option>
                <option value="66">Vĩnh Long</option>
                <option value="67">Vĩnh Phúc</option>
                <option value="68">Yên Bái</option>
                <option value="100">Nước Ngoài</option>
              </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-city-container"><span class="select2-selection__rendered" id="select2-city-container" title="Tất cả địa điểm">Tất cả địa điểm</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
            <div class="input-data search-submit">
              <button type="submit" class="btn btn-search btn-primary btn-primary-hover"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
