<div class="row m-t-3 m-b-3">
  <div id="job-detail-page-wraper">
    <div class="search-job">
      <div class="header">
        <div id="box-search-job">
          <div class="container">
            <div class="hero" id="search-job-hero">
              <div class="box-search-job box">
                <form method="get" id="frm-search-job" onsubmit="return false;">
                  <div class="d-flex justify-content-center">
                    <input class="form-control border-hover ui-autocomplete-input m-1" value=""
                           placeholder="Tên công việc, vị trí bạn muốn ứng tuyển ..." id="keyword" autocomplete="off">
                    <select id="category" class="form-control select2-hidden-accessible m-1" style="width:100%"
                            tabindex="-1" aria-hidden="true">
                      <option value="">Tất cả ngành nghề</option>
                      <option value="10101">An toàn lao động</option>
                      <option value="10102">Bán hàng kỹ thuật</option>
                      <option value="10103">Bán lẻ / bán sỉ</option>
                      <option value="10004">Báo chí / Truyền hình</option>
                      <option value="10006">Bảo hiểm</option>
                      <option value="10104">Bảo trì / Sữa chữa</option>
                      <option value="10007">Bất động sản</option>
                      <option value="10003">Biên / Phiên dịch</option>
                      <option value="10005">Bưu chính - Viễn thông</option>
                      <option value="10008">Chứng khoán / Vàng / Ngoại tệ</option>
                      <option value="10010">Cơ khí / Chế tạo / Tự động hóa</option>
                      <option value="10009">Công nghệ cao</option>
                      <option value="10052">Công nghệ Ô tô</option>
                      <option value="10131">Công nghệ thông tin</option>
                      <option value="10012">Dầu khí/Hóa chất</option>
                      <option value="10013">Dệt may / Da giày</option>
                      <option value="10111">Địa chất / Khoáng sản</option>
                      <option value="10014">Dịch vụ khách hàng</option>
                      <option value="10016">Điện / Điện tử / Điện lạnh</option>
                      <option value="10015">Điện tử viễn thông</option>
                      <option value="10011">Du lịch</option>
                      <option value="10110">Dược phẩm / Công nghệ sinh học</option>
                      <option value="10017">Giáo dục / Đào tạo</option>
                      <option value="10113">Hàng cao cấp</option>
                      <option value="10020">Hàng gia dụng</option>
                      <option value="10021">Hàng hải</option>
                      <option value="10022">Hàng không</option>
                      <option value="10117">Hàng tiêu dùng</option>
                      <option value="10023">Hành chính / Văn phòng</option>
                      <option value="10018">Hoá học / Sinh học</option>
                      <option value="10019">Hoạch định/Dự án</option>
                      <option value="10024">In ấn / Xuất bản</option>
                      <option value="10025">IT Phần cứng / Mạng</option>
                      <option value="10026">IT phần mềm</option>
                      <option value="10028">Kế toán / Kiểm toán</option>
                      <option value="10027">Khách sạn / Nhà hàng</option>
                      <option value="10120">Kiến trúc</option>
                      <option value="10001">Kinh doanh / Bán hàng</option>
                      <option value="10048">Logistics</option>
                      <option value="10036">Luật/Pháp lý</option>
                      <option value="10029">Marketing / Truyền thông / Quảng cáo</option>
                      <option value="10030">Môi trường / Xử lý chất thải</option>
                      <option value="10031">Mỹ phẩm / Trang sức</option>
                      <option value="10032">Mỹ thuật / Nghệ thuật / Điện ảnh</option>
                      <option value="10033">Ngân hàng / Tài chính</option>
                      <option value="11000">Ngành nghề khác</option>
                      <option value="10132">NGO / Phi chính phủ / Phi lợi nhuận</option>
                      <option value="10034">Nhân sự</option>
                      <option value="10035">Nông / Lâm / Ngư nghiệp</option>
                      <option value="10124">Phi chính phủ / Phi lợi nhuận</option>
                      <option value="10037">Quản lý chất lượng (QA/QC)</option>
                      <option value="10038">Quản lý điều hành</option>
                      <option value="10125">Sản phẩm công nghiệp</option>
                      <option value="10126">Sản xuất</option>
                      <option value="10130">Spa / Làm đẹp</option>
                      <option value="10127">Tài chính / Đầu tư</option>
                      <option value="10039">Thiết kế đồ họa</option>
                      <option value="10128">Thiết kế nội thất</option>
                      <option value="10042">Thời trang</option>
                      <option value="10129">Thư ký / Trợ lý</option>
                      <option value="10043">Thực phẩm / Đồ uống</option>
                      <option value="10046">Tổ chức sự kiện / Quà tặng</option>
                      <option value="10045">Tư vấn</option>
                      <option value="10047">Vận tải / Kho vận</option>
                      <option value="10050">Xây dựng</option>
                      <option value="10049">Xuất nhập khẩu</option>
                      <option value="10051">Y tế / Dược</option>
                    </select>
                    <select id="company-field-advanced" class="form-control select2-hidden-accessible m-1"
                            style="width:100%" tabindex="-1" aria-hidden="true">
                      <option value="">&nbsp;Tất cả lĩnh vực công ty</option>
                      <option value="33">&nbsp;Agency (Design/Development)</option>
                      <option value="34">&nbsp;Agency (Marketing/Advertising)</option>
                      <option value="11">&nbsp;Bán lẻ - Hàng tiêu dùng - FMCG</option>
                      <option value="4">&nbsp;Bảo hiểm</option>
                      <option value="20">&nbsp;Bảo trì / Sửa chữa</option>
                      <option value="5">&nbsp;Bất động sản</option>
                      <option value="13">&nbsp;Chứng khoán</option>
                      <option value="23">&nbsp;Cơ khí</option>
                      <option value="30">&nbsp;Cơ quan nhà nước</option>
                      <option value="31">&nbsp;Du lịch</option>
                      <option value="6">&nbsp;Dược phẩm / Y tế / Công nghệ sinh học</option>
                      <option value="21">&nbsp;Điện tử / Điện lạnh</option>
                      <option value="36">&nbsp;Giải trí</option>
                      <option value="26">&nbsp;Giáo dục / Đào tạo</option>
                      <option value="10">&nbsp;In ấn / Xuất bản</option>
                      <option value="7">&nbsp;Internet / Online</option>
                      <option value="37">&nbsp;IT - Phần cứng</option>
                      <option value="1">&nbsp;IT - Phần mềm</option>
                      <option value="2">&nbsp;Kế toán / Kiểm toán</option>
                      <option value="10000">&nbsp;Khác</option>
                      <option value="28">&nbsp;Logistics - Vận tải</option>
                      <option value="3">&nbsp;Luật</option>
                      <option value="8">&nbsp;Marketing / Truyền thông / Quảng cáo</option>
                      <option value="18">&nbsp;Môi trường</option>
                      <option value="35">&nbsp;Năng lượng</option>
                      <option value="15">&nbsp;Ngân hàng</option>
                      <option value="9">&nbsp;Nhà hàng / Khách sạn</option>
                      <option value="16">&nbsp;Nhân sự</option>
                      <option value="38">&nbsp;Nông Lâm Ngư nghiệp</option>
                      <option value="12">&nbsp;Sản xuất</option>
                      <option value="39">&nbsp;Tài chính</option>
                      <option value="17">&nbsp;Thiết kế / kiến trúc</option>
                      <option value="22">&nbsp;Thời trang</option>
                      <option value="27">&nbsp;Thương mại điện tử</option>
                      <option value="29">&nbsp;Tổ chức phi lợi nhuận</option>
                      <option value="32">&nbsp;Tự động hóa</option>
                      <option value="24">&nbsp;Tư vấn</option>
                      <option value="25">&nbsp;Viễn thông</option>
                      <option value="14">&nbsp;Xây dựng</option>
                      <option value="19">&nbsp;Xuất nhập khẩu</option>
                    </select>
                    <select class="form-control select2-hidden-accessible m-1" id="city" style="width: 100%"
                            tabindex="-1"
                            aria-hidden="true">
                      <option value="">Tất cả địa điểm</option>
                      <option value="1">Hà Nội</option>
                      <option value="2">Hồ Chí Minh</option>
                      <option value="3">Bình Dương</option>
                      <option value="4">Bắc Ninh</option>
                      <option value="5">Đồng Nai</option>
                      <option value="6">Hưng Yên</option>
                      <option value="7">Hải Dương</option>
                      <option value="8">Đà Nẵng</option>
                      <option value="9">Hải Phòng</option>
                      <option value="10">An Giang</option>
                      <option value="11">Bà Rịa-Vũng Tàu</option>
                      <option value="12">Bắc Giang</option>
                      <option value="13">Bắc Kạn</option>
                      <option value="14">Bạc Liêu</option>
                      <option value="15">Bến Tre</option>
                      <option value="16">Bình Định</option>
                      <option value="17">Bình Phước</option>
                      <option value="18">Bình Thuận</option>
                      <option value="19">Cà Mau</option>
                      <option value="20">Cần Thơ</option>
                      <option value="21">Cao Bằng</option>
                      <option value="22">Cửu Long</option>
                      <option value="23">Đắk Lắk</option>
                      <option value="24">Đắc Nông</option>
                      <option value="25">Điện Biên</option>
                      <option value="26">Đồng Tháp</option>
                      <option value="27">Gia Lai</option>
                      <option value="28">Hà Giang</option>
                      <option value="29">Hà Nam</option>
                      <option value="30">Hà Tĩnh</option>
                      <option value="31">Hậu Giang</option>
                      <option value="32">Hoà Bình</option>
                      <option value="33">Khánh Hoà</option>
                      <option value="34">Kiên Giang</option>
                      <option value="35">Kon Tum</option>
                      <option value="36">Lai Châu</option>
                      <option value="37">Lâm Đồng</option>
                      <option value="38">Lạng Sơn</option>
                      <option value="39">Lào Cai</option>
                      <option value="40">Long An</option>
                      <option value="41">Miền Bắc</option>
                      <option value="42">Miền Nam</option>
                      <option value="43">Miền Trung</option>
                      <option value="44">Nam Định</option>
                      <option value="45">Nghệ An</option>
                      <option value="46">Ninh Bình</option>
                      <option value="47">Ninh Thuận</option>
                      <option value="48">Phú Thọ</option>
                      <option value="49">Phú Yên</option>
                      <option value="50">Quảng Bình</option>
                      <option value="51">Quảng Nam</option>
                      <option value="52">Quảng Ngãi</option>
                      <option value="53">Quảng Ninh</option>
                      <option value="54">Quảng Trị</option>
                      <option value="55">Sóc Trăng</option>
                      <option value="56">Sơn La</option>
                      <option value="57">Tây Ninh</option>
                      <option value="58">Thái Bình</option>
                      <option value="59">Thái Nguyên</option>
                      <option value="60">Thanh Hoá</option>
                      <option value="61">Thừa Thiên Huế</option>
                      <option value="62">Tiền Giang</option>
                      <option value="63">Toàn Quốc</option>
                      <option value="64">Trà Vinh</option>
                      <option value="65">Tuyên Quang</option>
                      <option value="66">Vĩnh Long</option>
                      <option value="67">Vĩnh Phúc</option>
                      <option value="68">Yên Bái</option>
                      <option value="100">Nước Ngoài</option>
                    </select>
                    <button type="submit" class="btn btn-search btn-primary btn-primary-hover m-1">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="box-white box-detail-job">
        <div class="box-header">
          <a href="#" title="{{detail.nameCompany}}" class="company-logo">
            <div class="box-company-logo">
              <img src="{{detail.img}}" alt="" style="width: 10%" class="img-responsive">
            </div>
          </a>
          <div class="box-info-job">
            <h1 class="job-title text-highlight bold" style="overflow-wrap:break-word;">
              {{detail.title}}
              <span class="icon-verified-employer level-five">
                  <i class="fa-solid fa-circle-check" data-toggle="tooltip" data-html="true" title=""
                     data-placement="top"
                     data-original-title="
  <b>Nhà tuyển dụng</b><span> đã được xác thực:</span><br>
  <span><i class='fa-solid fa-circle-check color-green'></i> Đã xác thực email tên miền công ty</span><br>
  <span><i class='fa-solid fa-circle-check color-green'></i> Đã xác thực số điện thoại</span><br>
  <span><i class='fa-solid fa-circle-check color-green'></i> Đã được duyệt Giấy phép kinh doanh</span><br>
  <span><i class='fa-solid fa-circle-check color-green'></i> Tài khoản NTD được tạo tối thiểu 6 tháng</span><br>
  <span><i class='fa-solid fa-circle-check color-green'></i> Chưa có lịch sử bị báo cáo tin đăng</span><br>"></i>
              </span>
            </h1>
            <div class="company-title">
              <!--              <a href="#" class="text-dark-blue">{{detail.nameCompany}}</a>-->
            </div>

            <div class="job-deadline">
              <i class="fa-regular fa-clock"></i>{{detail.deadline| date}}
            </div>
          </div>
          <div class="box-apply-current">
            <div class="">

              <span>
                <a *ngIf="username!=''" (click)="payment()" href="#"
                       class="btn btn-topcv-primary btn-primary-hover btn-apply open-apply-modal"
                       data-toggle="modal" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                class="fa-regular fa-paper-plane"></i> ỨNG TUYỂN NGAY</a>
                <a *ngIf="username==''" routerLink="/login"
                   class="btn btn-topcv-primary btn-primary-hover btn-apply open-apply-modal"
                   data-toggle="modal" ><i
                  class="fa-regular fa-paper-plane"></i> ỨNG TUYỂN NGAY</a>
              </span>

              <!--<div id="box-save-job-852446" class="box-save-job  job-notsave ">-->
              <button class="btn btn-save save btn-topcv-text-normal btn-outline-hover" data-id="852446"
                      data-title="{{detail.title}}"><i class="fa-regular fa-heart"></i> LƯU TIN
              </button>
              <button class="btn btn-unsave unsave btn-topcv-primary btn-primary-hover" data-toggle="tooltip" title=""
                      data-id="852446" data-title="{{detail.title}}" data-original-title="Bỏ lưu">
                <i class="fa-regular fa-heart"></i> ĐÃ LƯU
              </button>
              <span><a target="_blank" href="http://candidate.topcvconnect.com/conversations/new/46536"
                       class="btn btn-connect btn-outline-hover"><i
                class="fa-solid fa-comments"></i> NHẮN TIN</a></span>
              <!--              </div>-->
            </div>
          </div>

        </div>
        <div class="box-time-apply">
          <hr>
        </div>
      </div>
    </div>

    <div class="container " id="tab-info">
      <div class="box-info-job box-white">
        <h2 class="box-title">Chi tiết tin tuyển dụng</h2>
        <div class="row">
          <div class="col-md-8">
            <div class="box-info">
              <p>Thông tin chung</p>
              <div class="box-main">
                <div class="box-item m-3">
                  <img src="https://www.topcv.vn/v4/image/job-detail/icon/1.svg" alt="">
                  <strong> Mức lương: </strong>
                  <span>Trên 15 triệu</span>
                </div>
                <div class="box-item m-3">
                  <img src="https://www.topcv.vn/v4/image/job-detail/icon/5.svg" alt="">
                  <strong> Số lượng tuyển: </strong>
                  <span>{{detail.numberOfVacancies}}</span>
                </div>
                <div class="box-item m-3">
                  <img src="https://www.topcv.vn/v4/image/job-detail/icon/2.svg" alt="">
                  <strong> Hình thức làm việc: </strong>
                  <span>{{detail.workingForm}}</span>
                </div>
                <div class="box-item m-3">
                  <img src="https://www.topcv.vn/v4/image/job-detail/icon/6.svg" alt="">
                  <strong> Cấp bậc: </strong>
                  <span>{{detail.level}}</span>
                </div>
                <div class="box-item m-3">
                  <img src="https://www.topcv.vn/v4/image/job-detail/icon/3.svg" alt="">
                  <strong> Giới tính: </strong>
                  <span>{{detail.genderRequest}}</span>
                </div>
                <div class="box-item m-3">
                  <img src="https://www.topcv.vn/v4/image/job-detail/icon/7.svg" alt="">
                  <strong> Kinh nghiệm: </strong>
                  <span>2 năm</span>
                </div>
              </div>
            </div>
            <div class="box-address">
              <p>Địa điểm làm việc</p>
              <div>
                <div style="margin-bottom: 10px">- Hồ Chí Minh: Tòa nhà Leman, 117 Nguyễn Đình Chiểu, phường 6, Quận 3
                </div>
                <div style="margin-bottom: 10px">- Hà Nội: Toà nhà Vincom Nguyễn Chí Thanh, phường Láng Thượng, Đống
                  Đa
                </div>
                <div style="margin-bottom: 10px">- Đà Nẵng: Tòa nhà Indochina Riverside, 74 Bạch Đằng, phường Hải Châu
                  1, Hải Châu
                </div>
              </div>
            </div>
            <div class="job-data">
              <h3>Mô tả công việc</h3>
              <div class="content-tab"><p>{{detail.description}}</p></div>
              <h3>Yêu cầu ứng viên</h3>
              <div class="content-tab"><p>{{detail.request}}</p></div>
              <h3>Quyền lợi</h3>
              <div class="content-tab"><p>{{detail.interest}}</p></div>
              <h3>Cách thức ứng tuyển</h3>
              <div class="box-how-to-apply">
                <p>Ứng viên nộp hồ sơ trực tuyến bằng cách bấm <strong class="text-highlight">Ứng tuyển ngay</strong>
                  dưới đây.</p>
                <div class="">
                  <div class="">
                    <div class="d-flex box-btn">
                      <a href="#" class="btn btn-topcv-primary btn-primary-hover btn-apply open-apply-modal"
                         data-toggle="modal">ỨNG TUYỂN NGAY</a>
                      <div class="box-save-job-852446 box-save-job  job-notsave ">
                        <button class="btn btn-save save btn-topcv-text-normal btn-outline-hover" data-id="852446"
                                data-title="Chuyên Viên Tư Vấn Tài Chính Toàn Thời Gian - Kênh Pruventure (Hồ Chí Minh, Hà Nội, Đà Nẵng)">
<span id="save-job-loading" style="display: none;">
<img loading="lazy" src="https://www.topcv.vn/v3/images/ap-loading.gif" style="width: 20px">
</span>
                          LƯU TIN
                        </button>
                        <button class="btn btn-unsave unsave btn-topcv-primary btn-primary-hover" data-id="852446"
                                data-title="Chuyên Viên Tư Vấn Tài Chính Toàn Thời Gian - Kênh Pruventure (Hồ Chí Minh, Hà Nội, Đà Nẵng)">
<span id="unsave-job-loading" style="display: none;">
<img loading="lazy" src="https://www.topcv.vn/v3/images/ap-loading.gif" style="width: 20px">
</span>
                          ĐÃ LƯU
                        </button>
                      </div>
                    </div>
                    <p>Hạn nộp hồ sơ: {{detail.deadline}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="report-job">
              <i class="fa-solid fa-triangle-exclamation"></i>
              <span>
Báo cáo tin tuyển dụng: Nếu bạn thấy rằng tin tuyển dụng này không đúng hoặc có dấu hiệu lừa đảo,
<a class="btn-notice-job color-green">hãy phản ánh với chúng tôi.</a>
</span>
            </div>
          </div>
          <div class="col-md-4 col-box-right">
            <div class="box-share-job">
              <h3>Chia sẻ tin tuyển dụng</h3>
              <p>Sao chép đường dẫn</p>
              <div class="box-copy">
                <div class="url-copy">
                  https://www.topcv.vn/viec-lam/chuyen-vien-tu-van-tai-chinh-toan-thoi-gian-kenh-pruventure-ho-chi-minh-ha-noi-da-nang/852446.html
                </div>
                <div class="btn-copy">
                  <button class="btn-secondary-hover" onclick="copyToClipboard('.url-copy')"><i
                    class="fa-regular fa-copy"></i></button>
                </div>
              </div>
              <p>Chia sẻ qua mạng xã hội</p>
              <div class="box-share">
                <a
                  href="http://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.topcv.vn%2Fviec-lam%2Fchuyen-vien-tu-van-tai-chinh-toan-thoi-gian-kenh-pruventure-ho-chi-minh-ha-noi-da-nang%2F852446.html"
                  target="_blank"><img src="https://www.topcv.vn/v4/image/job-detail/share/facebook.png" alt=""></a>
                <a
                  href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.topcv.vn%2Fviec-lam%2Fchuyen-vien-tu-van-tai-chinh-toan-thoi-gian-kenh-pruventure-ho-chi-minh-ha-noi-da-nang%2F852446.html"
                  target="_blank"><img src="https://www.topcv.vn/v4/image/job-detail/share/twitter.png" alt=""></a>
                <a
                  href="https://www.linkedin.com/cws/share?url=https%3A%2F%2Fwww.topcv.vn%2Fviec-lam%2Fchuyen-vien-tu-van-tai-chinh-toan-thoi-gian-kenh-pruventure-ho-chi-minh-ha-noi-da-nang%2F852446.html"
                  target="_blank"><img src="https://www.topcv.vn/v4/image/job-detail/share/linkedin.png" alt=""></a>
              </div>
            </div>
            <div class="box-report-job">
              <h3>Báo cáo tin tuyển dụng</h3>
              <p>Nếu bạn thấy rằng tin tuyển dụng này không
                đúng hoặc có một trong các dấu hiệu sau,
                hãy phản ánh với chúng tôi.</p>
              <div id="carouselReportCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <div class="slider__item">
                      <img class="slider__image" src="https://www.topcv.vn/v4/image/report/1.png" alt="Item 1">
                      <p class="slider__caption">Thông tin thiếu minh bạch</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="slider__item">
                      <img class="slider__image" src="https://www.topcv.vn/v4/image/report/2.png" alt="Item 2">
                      <p class="slider__caption">Hứa hẹn lương cao bất thường</p>
                    </div>
                  </div>
                  <div class="carousel-item active">
                    <div class="slider__item">
                      <img class="slider__image" src="https://www.topcv.vn/v4/image/report/3.png" alt="Item 3">
                      <p class="slider__caption">Yêu cầu nộp phí phỏng vấn, phí giữ chỗ,
                        phí đồng phục,... </p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="slider__item">
                      <img class="slider__image" src="https://www.topcv.vn/v4/image/report/4.png" alt="Item 4">
                      <p class="slider__caption">Yêu cầu nạp tiền điện thoại hoặc đặt lệnh
                        mua hàng trên app/website</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselReportCaptions"
                        data-bs-slide="prev">
                  <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselReportCaptions"
                        data-bs-slide="next">
                  <i class="fa-solid fa-chevron-right"></i>
                </button>
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselReportCaptions" data-bs-slide-to="0" class=""
                          aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselReportCaptions" data-bs-slide-to="1"
                          aria-label="Slide 2" class=""></button>
                  <button type="button" data-bs-target="#carouselReportCaptions" data-bs-slide-to="2"
                          aria-label="Slide 3" class="active" aria-current="true"></button>
                  <button type="button" data-bs-target="#carouselReportCaptions" data-bs-slide-to="3"
                          aria-label="Slide 4" class=""></button>
                </div>
              </div>
              <a href="#" class="btn-notice-job box-report-job__action" id="btn-notice-job">Báo cáo tin tuyển dụng</a>
            </div>
            <div class="box-keyword-job">
              <h3>Ngành nghề</h3>
              <div class="keyword">
<span>
<a href="https://www.topcv.vn/tim-viec-lam-kinh-doanh-ban-hang-c10001" class="btn btn-sm btn-default text-dark-gray"
   target="_blank" style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;">Kinh doanh / Bán hàng</a>
</span>
                <span>
<a href="https://www.topcv.vn/tim-viec-lam-dich-vu-khach-hang-c10014" class="btn btn-sm btn-default text-dark-gray"
   target="_blank" style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;">Dịch vụ khách hàng</a>
</span>
                <span>
<a href="https://www.topcv.vn/tim-viec-lam-tu-van-c10045" class="btn btn-sm btn-default text-dark-gray" target="_blank"
   style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;">Tư vấn</a>
</span>
              </div>
              <h3>Khu vực</h3>
              <div class="area">
                <span><a class="btn btn-sm btn-default text-dark-gray"
                         style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;"
                         href="https://www.topcv.vn/tim-viec-lam-chuyen-vien-tu-van-tai-ho-chi-minh-kl2" target="_blank"
                         title="Tìm việc làm chuyên viên tư vấn tại Hồ Chí Minh">Hồ Chí Minh</a></span>
                <span><a class="btn btn-sm btn-default text-dark-gray"
                         style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;"
                         href="https://www.topcv.vn/tim-viec-lam-chuyen-vien-tu-van" target="_blank"
                         title="Tìm việc làm chuyên viên tư vấn tại Quận 3">Quận 3</a></span>
                <span><a class="btn btn-sm btn-default text-dark-gray"
                         style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;"
                         href="https://www.topcv.vn/tim-viec-lam-chuyen-vien-tu-van-tai-ha-noi-kl1" target="_blank"
                         title="Tìm việc làm chuyên viên tư vấn tại Hà Nội">Hà Nội</a></span>
                <span><a class="btn btn-sm btn-default text-dark-gray"
                         style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;"
                         href="https://www.topcv.vn/tim-viec-lam-chuyen-vien-tu-van" target="_blank"
                         title="Tìm việc làm chuyên viên tư vấn tại Đống Đa">Đống Đa</a></span>
                <span><a class="btn btn-sm btn-default text-dark-gray"
                         style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;"
                         href="https://www.topcv.vn/tim-viec-lam-chuyen-vien-tu-van-tai-da-nang-kl8" target="_blank"
                         title="Tìm việc làm chuyên viên tư vấn tại Đà Nẵng">Đà Nẵng</a></span>
                <span><a class="btn btn-sm btn-default text-dark-gray"
                         style="background-color: #fafafa; font-weight: normal; border-color: #dfdfdf; margin-top: 5px;"
                         href="https://www.topcv.vn/tim-viec-lam-chuyen-vien-tu-van" target="_blank"
                         title="Tìm việc làm chuyên viên tư vấn tại Hải Châu">Hải Châu</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Button trigger modal -->
  <!--  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>-->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ứng tuyển:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--          <button >thanh toán</button>-->
          <div id="myPaypal"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
