<div>
<div class="row">
  <div class="col-3">
    <h2>Việc làm mới</h2>
  </div>
  <div class="col-7" >
    <hr style="margin-top: 8%">
  </div>
  <div class="col-2">
    <button class=" btn btn-outline-primary" style="margin-top: 5%">Xem thêm</button>
  </div>
</div>
<div class="row my-2">
  <div class="col-2">
    <img class="mx-5" width="50%"
         src="https://cdn1.timviecnhanh.com/images/default/2021/12/16/images/163963919481.jpeg" alt="logo">
  </div>
  <div class="col-10">
    <p>Bảo Vệ Ngân Hàng Vietinbank Tại Hồ Chí Minh & Khu Vực Phía Nam</p>
    <a href="#">CTY CPDV BẢO VỆ CÔNG THƯƠNG (Trực Thuộc Ngân hàng Vietinbank)</a>
  </div>
</div>

<div class="row my-2">
  <div class="col-2">
    <img class="mx-5" width="50%"
         src="https://yakult.vn/public/img/header/logo.png" alt="logo">
  </div>
  <div class="col-10">
    <p>Nhân Viên Kinh Doanh Giao Hàng Tận Nhà Tại HCM (Nhận Việc Ngay)</p>
    <a href="#">Công Ty TNHH Yakult Việt Nam</a>
  </div>
</div>
</div>
<div >
  <div class="row">
    <div class="col-10">
    <h2 >Việc làm hot</h2>
    </div>
    <div class="col-2">
    <button class="btn btn-outline-primary">Xem thêm</button>
    </div>
  </div>

  <div>
    <div class="row my-2">
      <div class="col-2">
        <img class="mx-5" width="50%"
             src="https://cdn1.timviecnhanh.com/images/old_employer_avatar/images/26a0044eb4a1901b3ccac44b968ec161_5aa776705b52e_1520924272.png?v=220513"
             alt="logo">
      </div>
      <div class="col-10">
        <p>[Dai-Ichi Life Vietnam] Nhân Viên Tư Vấn Khách Hàng Tại Tân Phú</p>
        <a href="#">Công Ty TNHH MTV An Phát Cường Thịnh (Dai-Ichi Chi Nhánh Bình Tân)</a>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-2">
        <img class="mx-5" width="50%"
             src="https://cdn1.timviecnhanh.com/images/old_employer_avatar/images/d82cac92e0c258adf9b9fe99a47ad455_5f4780540ffac_1598521428.png?v=220513"
             alt="logo">
      </div>
      <div class="col-10">
        <p>Nhân Viên Tư Vấn Tuyển Sinh Tại HCM / Bình Dương / Đồng Nai)</p>
        <a href="#">ANH VĂN HỘI VIỆT MỸ ( Công Ty Cổ Phần Quốc Tế Anh Văn Hội Việt Mỹ)</a>
      </div>
    </div>

  </div>
</div>

<div class="row my-4">
  <div class="d-flex justify-content-between" style="margin-left: 5px">
    <h2> Việc làm theo ngành nghề</h2>
    <button class="btn btn-outline-primary">Ngành Hot</button>
  </div>
  <div style="margin-left: 5px">
    <ul class="row d-flex text-primary">
      <li class="col-6 " ><a  href="#" class="text-dark"(click)="search()">Kinh doanh</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Tài chính/Kế toán/Kiểm toán</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Lao động phổ thông</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Quảng cáo/Marketing/PR</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Công nghệ thông tin</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Bán hàng</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Chăm sóc khách hàng</a></li>
      <li class="col-6 "><a href="#"  class="text-dark"(click)="search()">Cơ khí/Kĩ thuật ứng dụng</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Du lịch/Nhà hàng/Khách sạn</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Hành chính/Thư ký/Trợ lý</a></li>
      <li class="col-6 "><a href="#"  class="text-dark"(click)="search()">Xây dựng</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Ngân hàng/Chứng khoán/Đầu tư</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Điện/Điện tử/Điện lạnh</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Thực phẩm/DV ăn uống</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Kho vận/Vật tư/Thu mua</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Quản lý điều hành</a></li>
      <li class="col-6 "><a href="#" class="text-dark" (click)="search()">Sản xuất/Vận hành sản xuất</a></li>
      <li class="col-6 "><a  href="#" class="text-dark"(click)="search()">Y tế</a></li>
      <li class="col-6 "><a href="#"  class="text-dark"(click)="search()">Y tế</a></li>
    </ul>
  </div>
</div>
