<div class="row sticky-top"  >
<nav class="navbar navbar-expand-lg text-white" style="background: #002A89">
  <a class="navbar-brand mx-2 text-white" routerLink="/index">Trang chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-white" id="navbarNavDropdown">
    <ul class="navbar-nav text-white">
     <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Việc làm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Hồ sơ CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Phát triển sự nghiệp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Dịch vụ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Công cụ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-white" href="#">Mẫu CV</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Đăng ký
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item text-white" href="#">Người tìm việc</a>
          <a class="dropdown-item text-white" href="#">Người tuyển dụng</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</div>
